{% extends "anonym_base.html" %}

{% block content %}
<p><img src="http://sun9-36.userapi.com/c840521/v840521686/7827f/tpPED74DDcg.jpg" alt="" width="699" height="176" /></p>
<p><strong>Pizza Pavlovsk</strong> - служба доставки вкусной пиццы по Пушкинскому району Санкт-Петербурга!</p>
<h2><strong>Почему мы?</strong></h2>
<ul>
<li><em>Быстро</em></li>
<li><em>Вкусно</em></li>
<li><em>Дешево</em></li>
<li><em>Удобный интерфейс</em></li>
<li><em>Проверенные поставщики</em></li>
<li><em>и много другое..</em></li>
</ul>
{% endblock %}