{% extends "base.html" %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Контакты</h1>
<h4>Наш номер телефона: +7-(967)-975-73-80</h4>
<h4>Мы ВКонтакте(группа): <a href="https://vk.com/pavlovsk_pizza">vk.com/pavlovsk_pizza</a></h4>
<h4>Мы ВКонтакте(чат): <a href="https://vk.me/pavlovsk_pizza">vk.me/pavlovsk_pizza</a></h4>
<h1 xmlns="http://www.w3.org/1999/html">Местоположение</h1>
<h4>Павловск, улица Декабристов, 16</h4><br>
<img src="static/img/map.png">
<h1>График работы</h1>
<h4>Понедельник - Четверг: c 9:00 до 0:00</h4>
<h4>Пятница - Воскресенье: c 1:00 до 0:00</h4>
{% endblock %}