{% extends 'base.html' %}

{% block content %}
    <h1>Заказы</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-1 mb-1 text-left">
        <br>
        <table class="table">
            <thead>
            <th>id</th> <th>адресс</th><th>имя получателя</th> <th>сумма</th> <th>статус</th> <th>действие</th>
            </thead>
            <tbody>
                {% for el in data %}
                    <div>
                        <samp>
                            <form action="/order" method="post">
                            <tr><td>{{el.id}} </td><td>{{el.address}}</td><td>{{el.name}}</td><td>{{el.total}}</td><td>{{el.status}}</td><td><input type="submit"  name="open" value="Подробнее"> <input type="submit" class="btn btn-danger" name="btn" value="Удалить"><input type="text" name="id" id="id" value="{{el.id}}" size="5" hidden="hidden"></td></tr>
                            </form>
                         </samp>
                    </div>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
