{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;"><strong>Вы успешно зарегистрировались <img style="display: block; margin-left: auto; margin-right: auto;" src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-smile.gif" alt="smile" /></strong></h1>
<p style="text-align: center;"><a href="/">Вернуться на главную страницу</a></p>
<p><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="https://image.freepik.com/free-vector/pizza-logo-vector_25327-119.jpg" alt="logo" width="626" height="626" /></strong></p>
{% endblock %}